<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Why github notifier?</h2>
                <hr class="light">
                <p class="text-faded">One of the most important focuses of the application is to provide full information with the notification banner so that users would not need to click and open the details in a browser unless they want to participate in the thread. This will allow users to get updated on what is going on in the projects that they are interested without getting interrupted from their daily tasks. Since the notifications are macOS native, they can be accessed later in the Notification Center.</p>
                <a href="#install" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
