<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact and Support</h2>
                <hr class="primary">
                <p>Need a support, found an Issue or need a new feature? See support options below</p>
            </div>
        </div>
        <div class="col-lg-2 col-lg-offset-4 text-center">
            <a href="https://github.com/sargsyan/github-notifier/issues">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Rise an issue</p>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <a href="https://gitter.im/github_notifier/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge">
            <i class="fa fa-question-circle fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Ask a question</p>
            </a>
        </div>

    </div>
</section>
