<section class="no-padding" id="demo">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="">
              <div class="plyr__video-embed" id="player">
                <iframe src="https://www.youtube.com/embed/swMVpMwRI3I&?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
              </div>
            </div>
        </div>
    </div>
</section>
