  <aside id="install" class="bg-dark">
      <div class="container">
          <div class="call-to-action">
              <h2>Installation and configuration</h2>
              <p>Installation is supported with homebrew</p>

              <pre class="highlight"><code>brew install sargsyan/github-notifier/github-notifier
github-notifier-install</code></pre>

              <h3>Configure (optional)</h3>
              <p>Add or configure Github and Github enterprise instances</p>
              <pre class="highlight"><code>github-notifier-configure</code></pre>
              <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
          </div>
      </div>
  </aside>
